/* CSS Document */
/* html {
  box-sizing:border-box;   */
/* } */
*, *::after, *::before {
  /* box-sizing: inherit; */
  box-sizing:border-box; 

}
:root {
  --color-grey-text:#999;
  --background-color:#f4f4f4;
  --background-color-2:#404040;
  --color-black-text:#2b2b2b;
  --footer-color:#4d4d4d;
}

/*****FONTS*****/
@font-face {
  font-family: 'Chronicle-Text-G1-Roman';
  src: url("/fonts/Chronicle-Text-G1-Roman.otf") format("otf"),
   url("/fonts/Chronicle-Text-G1-Roman.woff") format("woff"),
   url("/fonts/Chronicle-Text-G1-Roman.woff2") format("woff2");
}
@font-face {
  font-family: 'Chronicle-Text-G1-Bold';
  src: url("/fonts/Chronicle-Text-G1-Bold.otf") format("otf"),
   url("/fonts/Chronicle-Text-G1-Bold.woff") format("woff"),
   url("/fonts/Chronicle-Text-G1-Bold.woff2") format("woff2");
}
@font-face {
  font-family: 'VerlagCondensed-Book';
  src: url("/fonts/VerlagCondensed-Book.otf") format("otf"),
   url("/fonts/VerlagCondensed-Book.woff") format("woff"),
   url("/fonts/VerlagCondensed-Book.woff2") format("woff2");
}

input {
  border:1px solid #ccc;
  /* border-top-style: solid;
  border-top-width: 1px; */
}

body{
  padding-top: 70px;
  overflow: auto;
  background: var(--background-color);
  margin: 0;
  display: block;
}

body, button, input, select, textarea {
  color:var(--background-color-2);
  font-size: 1em;
  line-height: 1.5s;
}

li {
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
  display: list-item;
}

a{
  text-decoration: none;
  background-color: transparent;
  color:var(--color-grey-text);

  transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

section {
  display: block;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

  list-style-position: initial;
  list-style-image: initial;
  list-style-type: disc;

}

img {
  height: auto;
  max-width: 100%;
  border:0;
  opacity: 1;

  /* border-top-color: initial;
  border-top-style: initial;
  border-top-width: 0px;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: 0px;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial; */
}

p {
  margin-bottom: 1.5em;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1, h2, h3 {
  clear: both;
}

div {
  display: block;
}
/********************************************************HEADER************************************************/

header {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 9999;

  background-color: var(--background-color);
  padding: 10px 27px 10px 27px;
  display: block;

  transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

header section {
  position: relative;

  /**MARGIN**/
  max-width: 1800px;
  margin: 0px auto 0px auto;
}

header div {
  opacity: 1;

  /**FLEXBOX**/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  /* display: block; */

  /**PADDING**/
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;

  margin:0;
}

header h1, ul {
margin:0;
}

  


h1 a{
  /**LOGO**/
  background-image: url(https://readcereal.com/wp-content/themes/cereal/img/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -999999px;
  background-size: 120px auto;
  height: 50px;
  width: 120px;
  display: inline-block;
  position: relative;
}

header ul {
  width: auto;

  /**FLEXBOX**/
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  white-space: nowrap;
}

header li:nth-of-type(1) a { 
  
  /**ICON MY ACCOUNT**/
  background-image: url(https://readcereal.com/wp-content/themes/cereal/img/account.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  height: 50px;
  width: 40px;
  display: block; /*zorg ervoor dat tekst weggaat en alleen icon zichtbaar is*/
  text-align: left;
  text-indent:-999999px; /*zorg ervoor dat tekst weggaat en alleen icon zichtbaar is*/
  margin-left: 5px;
}

header li:nth-of-type(2) a { 
  
  /**ICON SEARCH**/
  /* transition:background-image .3s linear; */
    /* background-size: 11px; */
  background-image: url(https://readcereal.com/wp-content/themes/cereal/img/searchIcon.svg);
  background-repeat:no-repeat;
  background-position:center;
  background-size: 14px 14px;
  height: 50px;
  width: 40px;
  display: block; /*zorg ervoor dat tekst weggaat en alleen icon zichtbaar is*/
  text-align: left;
  text-indent:-999999px; /*zorg ervoor dat tekst weggaat en alleen icon zichtbaar is*/
}

header li:nth-of-type(3) a {  
  
  /**ICON MENU**/
  background-image: url(https://readcereal.com/wp-content/themes/cereal/img/mMenu.svg);
  background-repeat:no-repeat;
  background-position:center;
  background-size: 17px 17px;
  height: 50px;
  display: block; /*zorg ervoor dat tekst weggaat en alleen icon zichtbaar is*/
  padding: 16px;
  outline: none;
  text-align: left;
  text-indent:-999999px; /*zorg ervoor dat tekst weggaat en alleen icon zichtbaar is*/
}



/*****************************************************MAIN***********************************************/

main {
padding:0;
display: block;
}

main section:nth-of-type(1){
  /*PADDING*/
  padding-top:0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  /*MARGIN*/
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;

  max-width: 1832px;
}

/**HOME MENU**/
main ul:nth-of-type(1) {
  text-align: right;
  position: relative;

  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -3.2%;
  padding: 0;
}

main ul:nth-of-type(1) li:nth-of-type(1) {
  width: 95.5%;
  margin-right: 4.5%;
  margin-bottom: 40px;
  flex-grow: 1;
  max-width: 100%;

  list-style: none;

}

main ul:nth-of-type(1) li:nth-of-type(1) a:nth-of-type(1) img {
  filter: brightness(100%);
  
  /* /* transition-property: all; */
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;

  outline-color: initial;
  outline-style: none;
  outline-width: initial; 

  max-width: 100%; /*maakt foto responsive*/
  display:block;
  width: 100%;
}

main ul:nth-of-type(1) li:nth-of-type(1) a:nth-of-type(2) {
  writing-mode: horizontal-tb;
  margin: 5px 0px 5px 0px;
  right: auto;
  display: block;
  /* position: absolute; */
  bottom:-30px;
  width: calc(100% - 10px);

  font-family: 'VerlagCondensed-Book';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 9px;
}

/**UL 2**/

main ul:nth-of-type(2) {

  /*PADDING*/
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  /*MARGIN*/
  margin-top:0px;
  margin-bottom: 0px;
  margin-left: 0px;

  opacity: 1;
  /* transition-property: all;
  transition-duration: 0,4s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */

  /*FLEXBOX*/
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -3.2%;
}

/**ARTIKEL 1 GREAT DIXTER**/
main ul:nth-of-type(2) li:nth-of-type(1) {
  width: 95.5%;
  margin-right: 4.5%;
  margin-bottom: 40px;
  flex-grow: 1;
  max-width: 100%;

  list-style: none;
}

/* main ul:nth-of-type(2) li:nth-of-type(1) a:nth-of-type(1) { */
  /* backface-visibility: hidden;
  transition-property: opacity;
  transition-duration: 800ms;
  transition-timing-function: ease;
  transition-delay: 0s; */

  /* outline-color: initial;
  outline-style: none;
  outline-width: initial; */
  /* color:var(--color-grey-text); */
/* } */

main ul:nth-of-type(2) li:nth-of-type(1) a:nth-of-type(1) img {
  /* filter: brightness(100%); */
  
  /* transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; */

  /* outline-color: initial;
  outline-style: none;
  outline-width: initial; */

  max-width: 100%; /*afbeelding responsive*/
  display:block;
  width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(1) a:nth-of-type(2) {
  line-height: 2;

  color:var(--color-grey-text);
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;

  /* transition-property:var(--background-color-2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */
}

main ul:nth-of-type(2) li:nth-of-type(1) h2 {
  margin: 0 auto auto 12px;
  line-height: .9;

  display: block; /* zorgt voor goede positie*/
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  font-family: 'Chronicle-Text-G1-Bold';
  color: var(--color-black-text);
  font-size: 14px;
  /* text-size-adjust: 100%; */
  letter-spacing: 1px;
}

main ul:nth-of-type(2) li:nth-of-type(1) p {
  max-width: calc(100% - 10px);

  font-family: 'Chronicle-Text-G1-Roman';
  color: var(--color-black-text);
  font-size: 12px;
}

/**ARTIKEL 2 CAMALEONDA IN CALIFORNIA**/
main ul:nth-of-type(2) li:nth-of-type(2) {
  width: 95.5%;
  margin-right: 4.5%;
  margin-bottom: 40px;
  flex-grow: 1;
  max-width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(2) a:nth-of-type(1) img {
  /* filter: brightness(100%); */
  
  /* transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; */

  /* outline-color: initial;
  outline-style: none;
  outline-width: initial; */

  max-width: 100%; /*afbeelding responsive*/
  display:block;
  width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(2) a:nth-of-type(2) {
  line-height: 3;
  display: inline-block;

  color:var(--color-grey-text);
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;

  /* transition-property:var(--background-color-2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */
}

main ul:nth-of-type(2) li:nth-of-type(2) h2 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  line-height: .9;

  display: block; /* zorgt voor goede positie*/
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  font-family: 'Chronicle-Text-G1-Bold';
  color: var(--color-black-text);
  font-size: 14px;
  text-size-adjust: 100%;
  letter-spacing: 1px;
}

main ul:nth-of-type(2) li:nth-of-type(2) p {
  max-width: calc(100% - 10px);

  font-family: 'Chronicle-Text-G1-Roman';
  color: var(--color-black-text);
  font-size: 12px;
}

/**ARTIKEL 3 BUILT IN**/
main ul:nth-of-type(2) li:nth-of-type(3) {
  width: 95.5%; /*breedte afbeelding*/
  margin-right: 4.5%;
  margin-bottom: 40px;
  flex-grow: 2;
  max-width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(3) a:nth-of-type(1) img {
  /* filter: brightness(100%); */
  
  /* transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; */

  /* outline-color: initial;
  outline-style: none;
  outline-width: initial; */

  max-width: 100%; /*afbeelding responsive*/
  display:block;
  width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(3) a:nth-of-type(2) {
  line-height: 3;
  display: inline-block;

  color:var(--color-grey-text);
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;

  /* transition-property:var(--background-color-2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */
}

main ul:nth-of-type(2) li:nth-of-type(3) h2 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  line-height: .9;

  display: block; /* zorgt voor goede positie*/
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  font-family: 'Chronicle-Text-G1-Bold';
  color: var(--color-black-text);
  font-size: 14px;
  text-size-adjust: 100%;
  letter-spacing: 1px;
}

main ul:nth-of-type(2) li:nth-of-type(3) p {
  max-width: calc(100% - 10px);

  font-family: 'Chronicle-Text-G1-Roman';
  color: var(--color-black-text);
  font-size: 12px;
}
/**ARTIKEL 4 RE-WRITINGRODIN**/
main ul:nth-of-type(2) li:nth-of-type(4) {
  width: 95.5%;
  margin-right: 4.5%;
  margin-bottom: 40px;
  flex-grow: 2;
  max-width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(4) a:nth-of-type(1) img {
  /* filter: brightness(100%); */
  
  /* transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; */

  /* outline-color: initial;
  outline-style: none;
  outline-width: initial; */

  max-width: 100%; /*afbeelding responsive*/
  display:block;
  width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(4) a:nth-of-type(2) {
  line-height: 3;
  display: inline-block;

  color:var(--color-grey-text);
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;

  /* transition-property:var(--background-color-2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */
}

main ul:nth-of-type(2) li:nth-of-type(4) h2 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  line-height: .9;

  display: block; /* zorgt voor goede positie*/
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  font-family: 'Chronicle-Text-G1-Bold';
  color: var(--color-black-text);
  font-size: 14px;
  text-size-adjust: 100%;
  letter-spacing: 1px;
}

main ul:nth-of-type(2) li:nth-of-type(4) p {
  max-width: calc(100% - 10px);

  font-family: 'Chronicle-Text-G1-Roman';
  color: var(--color-black-text);
  font-size: 12px;
}
/**ARTIKEL 5 THE MODULIGHTOR BUILDING**/
main ul:nth-of-type(2) li:nth-of-type(5) {
  width: 95.5%;
  margin-right: 4.5%;
  margin-bottom: 40px;
  flex-grow: 2;
  max-width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(5) a:nth-of-type(1) img {
  /* filter: brightness(100%); */
  
  /* transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; */

  /* outline-color: initial;
  outline-style: none;
  outline-width: initial; */

  max-width: 100%; /*afbeelding responsive*/
  display:block;
  width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(5) a:nth-of-type(2) {
  line-height: 3;
  display: inline-block;

  color:var(--color-grey-text);
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;

  /* transition-property:var(--background-color-2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */
}

main ul:nth-of-type(2) li:nth-of-type(5) h2 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  line-height: .9;

  display: block; /* zorgt voor goede positie*/
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  font-family: 'Chronicle-Text-G1-Bold';
  color: var(--color-black-text);
  font-size: 14px;
  text-size-adjust: 100%;
  letter-spacing: 1px;
}

main ul:nth-of-type(2) li:nth-of-type(5) p {
  max-width: calc(100% - 10px);

  font-family: 'Chronicle-Text-G1-Roman';
  color: var(--color-black-text);
  font-size: 12px;
}
/**ARTIKEL 6 TIME AND SPACE TO WAIT**/
main ul:nth-of-type(2) li:nth-of-type(6) {
  width: 95.5%;
  margin-right: 4.5%;
  margin-bottom: 40px;
  flex-grow: 2;
  max-width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(6) a:nth-of-type(1) img {
  /* filter: brightness(100%); */
  
  /* transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; */

  /* outline-color: initial;
  outline-style: none;
  outline-width: initial; */

  max-width: 100%; /*afbeelding responsive*/
  display:block;
  width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(6) a:nth-of-type(2) {
  line-height: 3;
  display: inline-block;

  color:var(--color-grey-text);
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;

  /* transition-property:var(--background-color-2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */
}

main ul:nth-of-type(2) li:nth-of-type(6) h2 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  line-height: .9;

  display: block; /* zorgt voor goede positie*/
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  font-family: 'Chronicle-Text-G1-Bold';
  color: var(--color-black-text);
  font-size: 14px;
  text-size-adjust: 100%;
  letter-spacing: 1px;
}

main ul:nth-of-type(2) li:nth-of-type(6) p {
  max-width: calc(100% - 10px);

  font-family: 'Chronicle-Text-G1-Roman';
  color: var(--color-black-text);
  font-size: 12px;
}
/**ARTIKEL 7 SUMMER PLAYLIST 2021**/
main ul:nth-of-type(2) li:nth-of-type(7) {
  width: 95.5%;
  margin-right: 4.5%;
  margin-bottom: 40px;
  flex-grow: 2;
  max-width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(7) a:nth-of-type(1) img {
  /* filter: brightness(100%); */
  
  /* transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; */

  /* outline-color: initial;
  outline-style: none;
  outline-width: initial; */

  max-width: 100%; /*afbeelding responsive*/
  display:block;
  width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(7) a:nth-of-type(2) {
  line-height: 3;
  display: inline-block;

  color:var(--color-grey-text);
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;

  /* transition-property:var(--background-color-2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */
}

main ul:nth-of-type(2) li:nth-of-type(7) h2 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  line-height: .9;

  display: block; /* zorgt voor goede positie*/
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  font-family: 'Chronicle-Text-G1-Bold';
  color: var(--color-black-text);
  font-size: 14px;
  text-size-adjust: 100%;
  letter-spacing: 1px;
}

main ul:nth-of-type(2) li:nth-of-type(7) p {
  max-width: calc(100% - 10px);

  font-family: 'Chronicle-Text-G1-Roman';
  color: var(--color-black-text);
  font-size: 12px;
}
/**ARTIKEL 8 INTENTIONAL SPARSENESS**/
main ul:nth-of-type(2) li:nth-of-type(8) {
  width: 95.5%;
  margin-right: 4.5%;
  margin-bottom: 40px;
  flex-grow: 2;
  max-width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(8) a:nth-of-type(1) img {
  /* filter: brightness(100%); */
  
  /* transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; */

  /* outline-color: initial;
  outline-style: none;
  outline-width: initial; */

  max-width: 100%; /*afbeelding responsive*/
  display:block;
  width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(8) a:nth-of-type(2) {
  line-height: 3;
  display: inline-block;

  color:var(--color-grey-text);
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;

  /* transition-property:var(--background-color-2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */
}

main ul:nth-of-type(2) li:nth-of-type(8) h2 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  line-height: .9;

  display: block; /* zorgt voor goede positie*/
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  font-family: 'Chronicle-Text-G1-Bold';
  color: var(--color-black-text);
  font-size: 14px;
  text-size-adjust: 100%;
  letter-spacing: 1px;
}

main ul:nth-of-type(2) li:nth-of-type(8) p {
  max-width: calc(100% - 10px);

  font-family: 'Chronicle-Text-G1-Roman';
  color: var(--color-black-text);
  font-size: 12px;
}
/**ARTIKEL 9 THE GOTHEANUM**/
main ul:nth-of-type(2) li:nth-of-type(9) {
  width: 95.5%;
  margin-right: 4.5%;
  margin-bottom: 40px;
  flex-grow: 2;
  max-width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(9) a:nth-of-type(1) img {
  /* filter: brightness(100%); */
  
  /* transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; */

  /* outline-color: initial;
  outline-style: none;
  outline-width: initial; */

  max-width: 100%; /*afbeelding responsive*/
  display:block;
  width: 100%;
}

main ul:nth-of-type(2) li:nth-of-type(9) a:nth-of-type(2) {
  line-height: 3;
  display: inline-block;

  color:var(--color-grey-text);
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;

  /* transition-property:var(--background-color-2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */
}

main ul:nth-of-type(2) li:nth-of-type(9) h2 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  line-height: .9;

  display: block; /* zorgt voor goede positie*/
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  font-family: 'Chronicle-Text-G1-Bold';
  color: var(--color-black-text);
  font-size: 14px;
  text-size-adjust: 100%;
  letter-spacing: 1px;
}

main ul:nth-of-type(2) li:nth-of-type(9) p {
  max-width: calc(100% - 10px);

  font-family: 'Chronicle-Text-G1-Roman';
  color: var(--color-black-text);
  font-size: 12px;
}

/*******************TWEEDE SECTION********************/
.featuredproducts {
  /* background-color: var(--background-color-2); */
  background-color:rgb(189,190,191);

  padding: 60px 10px;
}

.wrapper {
  padding: 0 17px 0 17px;

  max-width: 1832px;

  margin: 0 auto 0 auto;
}

.featuredproducts ul:nth-of-type(1) {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  text-align: left;
}

.featuredproducts ul:nth-of-type(1) h3 {
  margin-top: 10px;
  font-size: 34px;
  max-width: 500px;
  letter-spacing: 4px;
  font-weight: 400;
  font-family: 'Chronicle-Text-G1-Roman';

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.featuredproducts ul:nth-of-type(1) p {
  padding-left: 0;
  font-size: 12px;

  display: block;
  color:var(--background-color-2);
  margin: 0 0 40px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.7;
  padding: 0 20px 0;
  font-family: 'Chronicle-Text-G1-Roman';
}

.featuredproducts ul:nth-of-type(1) a {
 border: 1px solid var(--background-color-2); 
 padding: 12px 24px 12px 24px;
 text-decoration: none;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-size: 9px;
 color: var(--background-color-2);
 font-family: 'VerlagCondensed-Book';
 font-weight: 400;

 transition: 300ms all ease-in-out;

}

.featuredproducts ul:nth-of-type(1) img {
  display: block;
  width: 100%;

  opacity: 1;

  transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

  padding-right: 0;
  order:2;  
}

.subscriptiontext {
  width: 100%;
  text-align: left;
  padding-left: 0;
  margin-bottom: 40px;
}

.featuredproducts h2:nth-of-type(1) {
  font-family: 'Chronicle-Text-G1-Roman';
  text-align: left;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
  padding-bottom: 3px;
  display: inline-block;
  color:#fff;
  padding-left: 2px;  
}

.featuredproducts ul:nth-of-type(2) {
  padding: 0;
  margin: 0;
  list-style: none;
  clear: both;
}

.featuredproducts li {
  float:none;
  margin: 0 0 40px 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.featuredproducts li:nth-of-type(1) a {
 font-size: 11px;
 display: block;
 letter-spacing: 2px;
 text-decoration: none;
 color: #fff;
 margin-top: 5px;
 text-transform: uppercase; 
}

.featuredproducts ul:nth-of-type(2) img{
width:100%;

transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.featuredproducts ul:nth-of-type(2) h2 {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  border-bottom: 0px;
  text-transform: none;

  padding-bottom: 3px;
  display: inline-block;
  color:#fff;
  padding-left: 2px;
  font-family: 'Chronicle-Text-G1-Roman';
}

.featuredproducts ul:nth-of-type(2) p {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 8px;
  color:gray;
  margin: 5px 0 5px 0;
  font-family: 'VerlagCondensed-Book';
}
/*********************************************************FOOTER******************************************************/
footer {
  background-color: var(--footer-color);
  color: gray;
}

div.site-info {
  flex-wrap: wrap;
  max-width: 1833px;
  margin: 0 auto 0 auto;
  padding: 100px 37px 100px 37px;
  display: flex; 
}

div.about-text {
  width: 100%;
  font-size: 14px;
  margin-bottom: 40px;
  padding-right: 10%;
}

div.about-text p {
  margin-top: 0;
  margin-bottom: 30px;
}

div.about-text a {
  width: 60px;
  max-height: 12px;
  vertical-align: -1px;
  margin-left: 3px;

  overflow: hidden;

  font-family: 'Chronicle-Text-G1-Roman';
  text-transform: uppercase;
}

div.footer-menus {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  margin-bottom: 40px;
}

div.footer-menus ul {
  width: 33%;
  font-size: 14px;
  font-family: 'Chronicle-Text-G1-Roman';
  margin: 0;
  padding: 0;
}

div.footer-menus ul p{
  display: block;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;
  font-size: 11px;
}

div.footer-menus ul li {
  list-style-type: none;
}

div.footer-menus ul li a {
  color:#f5f5f5;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 1px;
  padding:10px 0px 10px 0px;
  outline: none;
  line-height: 1.9;
}

div.footer-social {
  right: 0;
  width: 50%;
  font-size: 14px;
  text-align: right;
  max-width: 800px;
}

div.footer-social p {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  margin:0;
  font-family: 'VerlagCondensed-Book';
  font-weight: 400;
}

div.footer-social form {
  white-space: nowrap;
  display: block;
  margin-top: 0em;
}

div.footer-social .email  {
  margin-bottom: 25px;
  margin-top: 21px;
  background-color: transparent;
  border-radius: 1px;
  font-size: 12px;
  color:#f5f5f5;
  width: 150px;
  padding: 5px 10px 5px 10px;
  border-color: gray;
}

div.footer-social .submit {
  display: inline;
  width: 36px;
  height: 30px;

  background-position-x: center;
  background-position-y: center;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;

  text-shadow: none;
  margin-left: -3px;
  border-radius: 0;
  font-size: 16px;
  text-indent:-99999px;
  background-image: url(/wp-content/themes/cereal/img/arrowRight.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
  vertical-align: -1px;

  margin-top: 21px;
  margin-bottom: 21px;
  color: #f5f5f5;
  padding: 5px 10px 5px 10px;
  border-color: gray;

  line-height: 1;
}

/* div.footer-social a:nth-of-type(1){
  margin-right: 15px;
  color:var(--footer-color);
}

div.footer-social a:nth-of-type(1) svg{
overflow: hidden;
width: 14;
height: 16;
fill:gray;
} */

.footer-social a {
  margin-right: 15px;
  color:var(--footer-color);

  display:flex;
  justify-content:flex-end;
}

.footer-social svg {
  fill:gray;
  width: 14;
  height: 16;
  overflow: hidden;
}